@font-face {
    font-family: inter;
    src: local("Inter"),
         url(/font/inter/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: libreFranklin;
    src: local("LibreFanklin")
         url(/font/libre_franklin/LibreFranklin-VariableFont_wght.ttf);
    
}

:root {
    --main-ft-family: libreFranklin, sans-serif;;
  }


main {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0;
    background-color: #A8C4F3;
}


.en-tete {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 3px;
}


.en-tete__app-title {
    font-family: inter, sans-serif;
    font-size: 25px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 0;
}


.en-tete__logo-geolocalisation {
    width: 40px;
    height: 40px;
    margin-right: 2px;
}


.milieu {
    display: flex;
    flex-direction: column;
}

.milieu__recherche {
    display: flex;
    flex-direction: column;
}

.milieu__recherche input {
    font-size: 15px;
    font-family: var(--main-ft-family);
    border: 2px solid black;
    background-color: white;
    width: 200px;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}


.milieu__carte {
    display: flex;
    justify-content: center;
}

.milieu__carte iframe {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px black;
    max-width: 200px;
    min-height: 340px; 
    border: 0;
}

.bas-de-page {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 35px;
}

.bas-de-page a {
    font-family: var(--main-ft-family);
    text-align: center;
    font-size: 8px;
    border: 2px solid black;
    padding: 3px;
    border-radius: 6px;
    background-color: white;
    align-self: center;
}

.bas-de-page__legende {
    border: 2px solid black;
    background-color: white;
    margin-left: 0.2em;
    padding: 0;
}

.bas-de-page__legende p {
    border: 0;
    text-align: left;
    margin: 2px;
    font-family: var(--main-ft-family);
    font-size: 8px;
}

.bas-de-page__legende__jauges {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.bas-de-page__legende__jauges p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--main-ft-family);
    font-size: 7px;
    margin-right: (2/35)em;
}

.bas-de-page__legende__jauges img {
    inline-size: 5%;
    margin-bottom: 0.3em;
    margin-left: (3/35)em;
}